daily-ai-news-automation/Daily AI News & Tools Digest Automation.json
{
  "name": "Daily AI News & Tools Digest Automation",
  "nodes": [
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"posts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"link\": {\n            \"type\": \"string\",\n            \"description\": \"The official or original source link of the AI news or tool.\"\n          },\n          \"title\": {\n            \"type\": \"string\",\n            \"description\": \"A short, descriptive title of the AI news or tool.\"\n          },\n          \"content\": {\n            \"type\": \"string\",\n            \"description\": \"A concise summary (2–3 lines) describing the key point of the news or tool.\"\n          }\n        },\n        \"required\": [\"link\", \"title\", \"content\"]\n      },\n      \"description\": \"A list of summarized AI-related news and newly launched tools.\"\n    }\n  },\n  \"required\": []\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        528,
        352
      ],
      "id": "c7a6fc75-8b78-413d-88fb-1f780d3db857",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        368
      ],
      "id": "02e66f9a-b70e-46a8-b2fb-723223bb3f4d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GGEW0z3Sj4pdk07p",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the list of AI-related articles and tool launches collected from multiple RSS feeds in the last 24 hours.\n\nAnalyze them and extract only the most relevant AI news and newly launched AI tools. \nFollow them according to the SYSTEM_PROMPT instructions.\n\nPost data:\n{{ $json.posts.map((item, index) => \n  `Post ${index + 1}:\n  Title: ${item.title}\n  Content: ${item.content}\n  Link: ${item.link}\n  `\n).join(\"\\n\\n-------------------------------------\\n\\n\") }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an expert AI research assistant specialized in tracking Artificial Intelligence (AI) news, research papers, and newly launched AI tools.\n\nYour goal is to analyze the provided list of AI-related articles and summarize them intelligently.\n\nInstructions:\n1. Read and understand all the provided posts carefully.\n2. Identify which posts are genuinely about Artificial Intelligence — including model releases, research papers, new AI tools, industry applications, or innovations.\n3. Exclude irrelevant or repetitive items.\n4. For every relevant post:\n   - Write a **concise yet informative title** (not just the original title — you can refine it for clarity).\n   - Provide a **clear and insightful 2–3 line summary** that explains:\n     - What the tool, research, or event is about.\n     - Why it matters (its purpose, impact, or innovation).\n     - Who released it (if relevant, e.g., Google, OpenAI, Anthropic, etc.).\n   - Always include the **original source link**.\n\n5. Your tone should be **professional, factual, and objective**, similar to how an analyst or research digest would write.\n6. Avoid filler phrases like “This article talks about…” or “Recently, it was announced…”.\n7. Use precise and reader-friendly language.\n\n---\n\n**Output your final response strictly in the following JSON format:**\n\n{\n  \"posts\": [\n    {\n      \"link\": \"string\",\n      \"title\": \"string\",\n      \"content\": \"string\"\n    }\n  ]\n}\n\nRules:\n- The root key must always be \"posts\".\n- Each post object must contain exactly three fields: \"link\", \"title\", and \"content\".\n- Do not add any additional keys or metadata.\n- The \"content\" should be 5-6 well-written lines that summarize the article meaningfully.\n- If no AI-relevant articles exist, return `\"posts\": []`.\n- Output must be **valid JSON only**, with no extra text.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        128
      ],
      "id": "1bc09590-f771-4bb5-9417-0d5381eb9e6c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        16,
        128
      ],
      "id": "a72cb7e2-26ec-4d51-9c02-2b3faeeacba7",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eabfe797-4db2-4840-9b59-12225ff4f218",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "fe1423e5-7ab0-43b5-aed9-6317fd99ddf0",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "8ec27970-5c50-4415-af85-a46305a73a97",
              "name": "published_date",
              "value": "={{ $json.pubDate.toDateTime().format('yyyy-MM-dd hh:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "4e540a9a-23a3-49ed-b00f-aa458fab589f",
              "name": "content",
              "value": "={{ $json['content:encodedSnippet'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        320
      ],
      "id": "339a6d03-22d6-4a4f-b9f4-ba62b5345327",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "url": "https://marktechpost.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -864,
        304
      ],
      "id": "e02f8cc0-5a65-4adf-a1a5-32e889cdb760",
      "name": "RSS Read2",
      "notesInFlow": true,
      "notes": "https://marktechpost.com/feed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eabfe797-4db2-4840-9b59-12225ff4f218",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "fe1423e5-7ab0-43b5-aed9-6317fd99ddf0",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "8ec27970-5c50-4415-af85-a46305a73a97",
              "name": "published_date",
              "value": "={{ $json.pubDate.toDateTime().format('yyyy-MM-dd hh:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "4e540a9a-23a3-49ed-b00f-aa458fab589f",
              "name": "content",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        128
      ],
      "id": "463c8920-955c-4b1f-9bb2-a44103359034",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eabfe797-4db2-4840-9b59-12225ff4f218",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "fe1423e5-7ab0-43b5-aed9-6317fd99ddf0",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "8ec27970-5c50-4415-af85-a46305a73a97",
              "name": "published_date",
              "value": "={{ $json.pubDate.toDateTime().format('yyyy-MM-dd hh:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "4e540a9a-23a3-49ed-b00f-aa458fab589f",
              "name": "content",
              "value": "={{ $json['content:encodedSnippet'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        -32
      ],
      "id": "d22a9119-257a-42c9-87ab-c3d09576d790",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -448,
        112
      ],
      "id": "1b7ee284-d763-4cb5-97f3-4b5a448fc7b5",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://venturebeat.com/category/ai/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -864,
        128
      ],
      "id": "d40378f8-5caf-4188-a93e-c1011277e731",
      "name": "RSS Read1",
      "notesInFlow": true,
      "notes": "https://venturebeat.com/category/ai/feed/"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1088,
        128
      ],
      "id": "f28688cc-5b3b-4162-b78e-fa7f2e16facd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.artificialintelligence-news.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -864,
        -32
      ],
      "id": "10870e7a-d5b3-4f5e-979d-8ef49b4b21e1",
      "name": "RSS Read",
      "notesInFlow": true,
      "notes": "https://www.artificialintelligence-news.com/feed/"
    },
    {
      "parameters": {
        "sendTo": "info@example.com",
        "subject": "=🧠 Daily AI News & Tools Digest on {{ $now.format('dd-MM-yyyy HH:mm') }}\n",
        "message": "={{ $json.message }}",
        "options": {
          "appendAttribution": false,
          "senderName": "BI Structure"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1184,
        112
      ],
      "id": "9eb925f1-b1fb-4aca-a3fd-9f706f1e4c76",
      "name": "Send Daily AI News",
      "webhookId": "f29aedab-5d35-4d53-b59b-44e5641c2395",
      "credentials": {
        "gmailOAuth2": {
          "id": "LmzBR0OxZ5c0xiw4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Retrieve posts from the previous node safely\nconst items = $input.first()?.json?.output?.posts || [];\n\n// Start building HTML structure\nlet html = `\n  <div style=\"\n    font-family: 'Segoe UI', Arial, sans-serif; \n    color: #333; \n    max-width: 700px; \n    margin: 0 auto; \n    background-color: #ffffff; \n    border-radius: 12px; \n    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);\n    padding: 25px;\n  \">\n    <h1 style=\"\n      text-align: center; \n      color: #1a73e8; \n      margin-bottom: 10px; \n      font-size: 26px;\n    \">\n      🧠 Daily AI News & Tools Digest\n    </h1>\n\n    <p style=\"\n      text-align: center; \n      color: #555; \n      font-size: 15px; \n      margin-bottom: 25px;\n    \">\n      Stay informed with the latest AI breakthroughs, research, and tool launches.\n    </p>\n\n    <hr style=\"border: none; border-top: 1px solid #ddd; margin-bottom: 25px;\">\n`;\n\n// Handle empty case\nif (items.length === 0) {\n  html += `\n    <p style=\"\n      text-align: center; \n      font-size: 15px; \n      color: #666;\n    \">\n      No new AI news or tool launches found in the last 24 hours.\n    </p>\n  `;\n} else {\n  html += `\n    <ul style=\"list-style: none; padding: 0; margin: 0;\">\n  `;\n\n  // Loop through all posts\n  for (const item of items) {\n    html += `\n      <li style=\"\n        margin-bottom: 25px; \n        padding: 20px; \n        border-radius: 12px; \n        background: #f8f9fa; \n        border: 1px solid #eee;\n        transition: background 0.3s;\n      \">\n        <h2 style=\"\n          font-size: 18px; \n          margin-bottom: 10px; \n          color: #222;\n        \">\n          ${item.title}\n        </h2>\n\n        <p style=\"\n          font-size: 15px; \n          color: #555; \n          line-height: 1.6; \n          margin-bottom: 12px;\n        \">\n          ${item.content}\n        </p>\n\n        <a href=\"${item.link}\" target=\"_blank\" style=\"\n          display: inline-block;\n          text-decoration: none; \n          background-color: #1a73e8; \n          color: white; \n          padding: 8px 14px; \n          border-radius: 6px; \n          font-size: 14px;\n          font-weight: 500;\n        \">\n          🔗 Read Full Article\n        </a>\n      </li>\n    `;\n  }\n\n  html += `\n    </ul>\n  `;\n}\n\nhtml += `\n  </div>\n`;\n\n// Return HTML for Email node\nreturn [{ message: html }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        112
      ],
      "id": "51ec0630-d029-45ad-a145-6e69931a3154",
      "name": "Write Proper HTML"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "120128ef-c4de-4f42-95d5-932d69d23784",
              "leftValue": "={{ $json.output.posts.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        128
      ],
      "id": "042d94e4-eec6-40d3-8493-bd4fff1acc3f",
      "name": "Check Post available"
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all().map(item => item.json);\nreturn [{ json: { posts: allItems } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        128
      ],
      "id": "010e08eb-3cf4-4052-ba3f-b71b3a20d369",
      "name": "All in One Item"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "published_date",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -128,
        128
      ],
      "id": "91c56fcd-e274-4ba6-a0d5-79fed3e7a6f4",
      "name": "Sort by Published Date"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "42ef74a9-2169-4006-9ff9-1752d677843a",
              "leftValue": "={{ $json.published_date }}",
              "rightValue": "={{ (new Date(Date.now() - 24 * 60 * 60 * 1000))}}\n",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -288,
        128
      ],
      "id": "6c5a4e38-4f0e-4e06-ad62-31079b2df367",
      "name": "Filter last 24 hours"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Check Post available",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "All in One Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Filter last 24 hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Proper HTML": {
      "main": [
        [
          {
            "node": "Send Daily AI News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Post available": {
      "main": [
        [
          {
            "node": "Write Proper HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All in One Item": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Published Date": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter last 24 hours": {
      "main": [
        [
          {
            "node": "Sort by Published Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4fd142d0-8baa-4cc4-b2fd-ac30a0ddb71b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f285dfe561c593deb56ec4a741dc8983520f02c2e96da100daec94bef725c70c"
  },
  "id": "hRQCVpBr9G9D3tZ3",
  "tags": []
}